@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter Variable", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}

@layer base {
  * {
    @apply border-zinc-200 dark:border-zinc-800;
  }

  mark {
    @apply bg-transparent dark:text-yellow-50 border-b-2 font-medium border-yellow-400 dark:border-yellow-50;
  }

  html, body {
    @apply h-full min-h-full  antialiased;
  }

  html {
    @apply bg-white;
  }

  html.dark {
    @apply bg-zinc-950;
  }

  body {
    @apply flex dark:text-zinc-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .prose img {
    @apply inline-block
  }
}