@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter Variable", sans-serif;
}

html.dark {
  background: black;
}

@layer base {
  * {
    @apply border-zinc-200 dark:border-zinc-800;
  }

  html, body {
    @apply h-full min-h-full bg-white antialiased dark:bg-black;
  }

  body {
    @apply flex dark:text-zinc-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .prose img {
    @apply inline-block
  }
}