---
import { MagicWandIcon } from '@radix-ui/react-icons';
import { getCollection } from 'astro:content';

import GridList from '@/components/GridList.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import type { IBookmark } from '@/types/global';

const bookmarks = (Astro.cookies.get('bookmarks')?.json() || []) as IBookmark[];

const starterKitItems =
  (await getCollection('starter-kit', (item) =>
    bookmarks.some((bookmark) => bookmark.id === item.id),
  )) || [];
const designKitItems =
  (await getCollection('design-kit', (item) =>
    bookmarks.some((bookmark) => bookmark.id === item.id),
  )) || [];
const uiComponentItems =
  (await getCollection('ui-component', (item) =>
    bookmarks.some((bookmark) => bookmark.id === item.id),
  )) || [];

const allItems = [...starterKitItems, ...designKitItems, ...uiComponentItems];

export const prerender = false;
---

<PageLayout>
  <div class="mb-6 flex">
    <div>
      <span class="text-2xl font-semibold">Bookmarks</span>
      <span class="text-sm text-gray-500" id="bookmark-count"
        >({allItems.length})</span
      >
      <p class="mt-2 text-sm text-gray-500">
        These are the bookmarks you've saved. Stored in your browser's 🍪
        cookies.
      </p>
    </div>
  </div>
  {
    allItems.length ? (
      <GridList full withoutPadding items={allItems} />
    ) : (
      <div class="flex flex-col items-center">
        <span class="mb-6 mt-10 inline-flex h-14 w-14 items-center justify-center rounded-full bg-slate-100 ring-8 ring-slate-50 dark:bg-slate-200 dark:ring-slate-300">
          <MagicWandIcon className="h-7 w-7 text-slate-500" />
        </span>
        <>
          <p class="text-slate-500">You haven't bookmarked.</p>
          <a class="text-indigo-600 underline dark:text-indigo-400" href="/">
            Explore the tools!
          </a>
        </>
      </div>
    )
  }
</PageLayout>
