---
import { SITE_DESCRIPTION } from '@/consts';
---

<div class="mb-8 flex items-start justify-between">
  <div>
    <h1 class="text-xl font-semibold">Smashing Tools</h1>
    <p class="text-gray-11">{SITE_DESCRIPTION}</p>
  </div>
  <div>right nav</div>
</div>
