---
import { Icon } from 'astro-icon/components';

import { ModeToggle } from '@/components/react/ModeToggle';

import smashingLogo from '../../public/logo.svg';
---

<div
  class="z-50 hidden h-full shrink-0 bg-zinc-50 pb-2 lg:sticky lg:top-0 lg:flex lg:w-16 lg:flex-col lg:items-center lg:whitespace-nowrap lg:rounded-3xl lg:rounded-br-none lg:border lg:border-y-0 lg:border-l-0 lg:pt-6 lg:text-sm lg:leading-7 dark:bg-zinc-900"
>
  <a class="flex items-center lg:[writing-mode:vertical-rl]" href="/">
    <img
      class="h-8 w-8"
      src={smashingLogo.src}
      alt="Logo of smashing.tools"
      sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
    />
    <span class="mt-6 font-mono font-semibold text-zinc-500 dark:text-zinc-200"
      >smashing.<strong class="text-zinc-900 dark:text-zinc-300">tools</strong
      ></span
    >
  </a>

  <div class="mt-4">
    <!-- <a
      href="/about"
      aria-label="Github repository"
      class="flex h-11 w-11 items-center justify-center rounded-2xl transition-colors hover:bg-zinc-200 dark:hover:bg-zinc-800"
    >
      <Icon name="tabler:info-circle" class="h-5 w-5" />
    </a> -->
    <a
      target="_blank"
      href="https://plausible.io/smashing.tools?period=all"
      aria-label="Analytics of smashing.tools"
      class="flex h-11 w-11 items-center justify-center rounded-2xl transition-colors hover:bg-zinc-200 dark:hover:bg-zinc-800"
    >
      <Icon name="tabler:trending-up" class="h-5 w-5" />
    </a>
  </div>
  <div class="flex grow"></div>
  <a
    href="/bookmarks/"
    aria-label="View your bookmarks"
    class="flex h-11 w-11 items-center justify-center rounded-2xl transition-colors hover:bg-zinc-200 dark:hover:bg-zinc-800"
  >
    <Icon name="tabler:bookmarks" class="h-5 w-5" />
  </a>
  <ModeToggle client:load />
</div>
