---
import { Icon } from 'astro-icon';

import { ThemeToggle } from '@/components/react/ThemeToggle';

import smashingLogo from '../../public/logo.svg';
---

<div
  class="z-50 hidden h-full shrink-0 bg-zinc-50 pb-2 dark:bg-zinc-900 lg:sticky lg:top-0 lg:flex lg:w-16 lg:flex-col lg:items-center lg:whitespace-nowrap lg:rounded-3xl lg:rounded-br-none lg:border lg:border-y-0 lg:border-l-0 lg:pt-6 lg:text-sm lg:leading-7"
>
  <a class="flex items-center lg:[writing-mode:vertical-rl]" href="/">
    <img
      class="h-8 w-8"
      src={smashingLogo.src}
      alt="Logo of smashing.tools"
      sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
    />
    <span class="mt-6 font-mono font-semibold text-zinc-500 dark:text-zinc-200"
      >smashing.<strong class="text-zinc-900 dark:text-zinc-300">tools</strong
      ></span
    >
  </a>
  <div class="flex grow"></div>
  <a
    href="/submission"
    aria-label="Submission guidelines"
    class="flex h-11 w-11 items-center justify-center"
  >
    <Icon name="tabler:plus" class="h-5 w-5" />
  </a>
  <a
    href="/bookmarks"
    aria-label="View your bookmarks"
    class="flex h-11 w-11 items-center justify-center"
  >
    <Icon name="tabler:bookmarks" class="h-5 w-5" />
  </a>
  <ThemeToggle client:only />
</div>
