---
import CategorySwitcher from '@/components/CategorySwitcher.astro';
import CommandMenu from '@/components/react/CommandMenu';
import type { CategoryPaths } from '@/consts';

interface Props {
  activeCategory: CategoryPaths;
}

const { activeCategory } = Astro.props;
---

<div class="pb-2 lg:px-4">
  <CommandMenu client:idle />
  <CategorySwitcher activeCategory={activeCategory} />
</div>
