---
import { Sidebar } from '@/components/react/Sidebar';
import TailwindIndicator from '@/components/TailwindIndicator.astro';

import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export const prerender = false;

interface Props {
  activeCategory: '/' | '/code' | '/design';
  facets: any; // TODO: type this
}

const { activeCategory = '/', facets } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <main class="flex h-screen w-full overflow-y-hidden text-sm">
      <Sidebar facets={facets} activeCategory={activeCategory} client:load />
      <div class="flex grow flex-col px-6 py-4">
        <slot />
      </div>
    </main>
    <TailwindIndicator />
  </body>
</html>
