---
import AllFacets from '@/components/AllFacets.astro';
import LeftBar from '@/components/LeftBar.astro';
import TailwindIndicator from '@/components/TailwindIndicator.astro';
import TopNav from '@/components/TopNav.astro';
import type { Facets } from '@/utils/facets';

import BaseHead from '../components/BaseHead.astro';
import { type CategorySlugs, SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export const prerender = false;

interface Props {
  activeCategory: CategorySlugs;
  facets: Facets;
}

const { activeCategory = '/', facets } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class="w-full">
      <header
        class="bg-zinc-50 px-4 dark:bg-zinc-900 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-96 lg:items-start lg:overflow-y-auto lg:px-0 xl:w-96"
      >
        <LeftBar />
        <div
          class="relative z-10 mx-auto pb-1 pt-6 lg:sticky lg:top-0 lg:min-h-full lg:max-w-2xl lg:flex-auto lg:border-x lg:border-zinc-200 lg:pt-6 dark:lg:border-zinc-800"
        >
          <TopNav activeCategory={activeCategory} />
          <div class="h-full">
            <AllFacets facets={facets} />
          </div>
        </div>
      </header>
      <main
        class="border-t border-zinc-200 dark:border-zinc-700 lg:relative lg:mb-10 lg:ml-96 lg:border-t-0 xl:ml-96"
      >
        <div class="relative">
          <slot />
        </div>
      </main>
    </div>
    <TailwindIndicator />
    <script is:inline>
      // TODO: re-enable this when we have a better solution for scroll restoration
      // document.addEventListener('astro:before-swap', () => {
      //   const header = document.querySelector('header');
      //   localStorage.setItem(
      //     'headerScrollPosition',
      //     header.scrollTop.toString(),
      //   );
      // });
      // document.addEventListener('astro:after-swap', () => {
      //   const header = document.querySelector('header');
      //   const scrollPosition = localStorage.getItem('headerScrollPosition');
      //   header.scrollTo({
      //     left: 0,
      //     top: Number(scrollPosition),
      //     behavior: 'instant',
      //   });
      // });
    </script>
  </body>
</html>
