---
import "@fontsource-variable/inter";
import "../styles/global.css";

// import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
// import FormattedDate from "../components/FormattedDate.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main class="flex h-screen w-full overflow-y-hidden text-sm">
      <div
        class="absolute z-50 inset-0 transform duration-300 lg:relative lg:translate-x-0 bg-gray-2 flex flex-col flex-shrink-0 w-56 border-r border-frame dark:border-frame lg:shadow-none justify-items-start -translate-x-full shadow-none"
      >
        <div class="flex flex-col flex-grow-0 flex-shrink-0 px-5 py-3 mb-3">
          <div class="flex items-center justify-between">
            <div>logo</div>
            <div>search</div>
          </div>
        </div>
        <div class="flex flex-col flex-shrink flex-grow overflow-y-auto mb-0.5">
          <div class="SCROLL-AREA">
            <div class="px-5">filters</div>
            <button onclick="window.location.search = '?language=en';"
              >en</button
            >
            <button onclick="window.location.search = '?language=tr';"
              >tr</button
            >
          </div>
        </div>
      </div>
      <div class="flex grow flex-col px-6 py-4"><slot /></div>
    </main>
  </body>
</html>
