---
import Header from '@/components/Header.astro';
import ProfileHeaderGradient from '@/components/ProfileHeaderGradient.astro';
import CommandMenu from '@/components/react/CommandMenu';

import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export const prerender = false;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body data-pagefind-ignore>
    <ProfileHeaderGradient />
    <div class="mx-auto h-full w-full max-w-2xl">
      <Header />
      <div class="hidden" data-pagefind-ignore>
        <CommandMenu client:idle />
      </div>
      <main class="relative z-10 mx-auto px-4 pb-4 pt-24">
        <div class="relative">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
